<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carmax">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_location"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.carmax.viewScreen.MechanicDetails"
            android:parentActivityName="com.example.carmax.viewScreen.Driver"></activity>
        <activity android:name="com.example.carmax.Registration.signIn"
            android:label="Verification"
            android:parentActivityName="com.example.carmax.bridge.FirstScreen"/>
        <activity android:name="com.example.carmax.Registration.signUp"
            android:label="Registration"
            android:parentActivityName="com.example.carmax.bridge.FirstScreen">

        </activity>
        <activity android:name="com.example.carmax.bridge.FirstScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.carmax.viewScreen.Profile"
            android:parentActivityName="com.example.carmax.Registration.Mechanic"/>
        <activity android:name="com.example.carmax.viewScreen.Driver"
            android:parentActivityName="com.example.carmax.bridge.MainActivity"/>
        <activity android:name="com.example.carmax.Registration.Mechanic"
            android:parentActivityName="com.example.carmax.bridge.MainActivity"/>
        <activity android:name="com.example.carmax.bridge.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>